.App {
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.App-Header {
  min-height: 20vh;
  padding-top: 30px;
}

.App-Content {
  text-align: center;
  min-height: 70vh;
}

.App-Footer {
  text-align: center;
  min-height: 10vh;
}




